<div class="container mt-4 mb-4">
  <div class="mb-5">
      <h3>Pretraga</h3>
      <input [(ngModel)]="pretragaTexta" placeholder="pretraga">
  </div>
  <div class="mt-2 mb-5">
    <a href="#" (click)="dodajVideo()" class="btn btn-success">Dodaj</a>
  </div>
  <div class="mt-2 mb-5 sort">
    <a href="#" (click)="sort('desc')" class="btn btn-success">Opadajuce</a>
    <a href="#" (click)="sort('asc')" class="btn btn-success">Rastuce</a>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let video of videos | filter: pretragaTexta; index as i">
      <app-video
        (brisanjeVideo)="obrisiVideo($event)"
        (azuriranjeVideo)="azurirajVideo($event)"
        [video]="video"
      ></app-video>
    </div>
  </div>
</div>
